:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 25px;
  gap: 1.5rem;
}

.header-one {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.border-box {
 width: 680px;
 height: 300px;
 border: 2px solid #4d4b4b;
 border-radius: 12px;
 background-color: inherit;
 padding: 1.5rem;
 box-sizing: border-box;
}


.text{
  text-align: center;
}


@media (max-width: 768px) {
  .header-one {
    font-size: 20px;
  }

  .border-box{
    max-width: 100%;
    max-height: 100%;
  }

}